#root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.rst-body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

progress {
  padding-block: 5rem;
}

.event-background-icon {
  font-size: 8em;
  top: initial;
  bottom: -2rem;
  right: -1rem;
}

.event-title {
  font-size: max(1.5em, 0.85rem);
}
.rst-spacer {
  display: grid;
  gap: 1rem;
}

.centered {
  text-align: center;
}

.rst-grid {
  --height: 220px;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content repeat(12, var(--height)) max-content repeat(
      8,
      var(--height)
    );
  grid-auto-flow: column;
  gap: 1rem;
}

.duration-1 {
  grid-row: span 1;
}

.duration-2 {
  grid-row: span 2;
}

.duration-3 {
  grid-row: span 3;
}

.duration-4 {
  grid-row: span 4;
}

.duration-5 {
  grid-row: span 5;
}

.duration-6 {
  grid-row: span 6;
}

.day-sa,
.day-so {
  grid-column: 2/3;
}

@media screen and (min-width: 800px) {
  .rst-grid {
    grid-template-columns: max-content 1fr 1fr;
    grid-template-rows: max-content repeat(12, 220px);
  }

  .day-so {
    grid-column: 3/4;
  }

  .rst-only-small {
    display: none;
  }
}
